header, section, footer, aside, nav, main, article, figure {
    display: block;
}

html {
  text-align: center;
}

body {
	width: auto;
	margin: 0 auto;
	display: inline-block;
	padding: 15px;
}

header {
	background-color: #ccc;
	text-align: center;
	padding: 4px;
}

main {
	margin: 0;
	width: 100%;
}

div {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*
* === LEWA KOLUMNA ===
*/

section#left {
	max-height: 600px;
	float: left;
	position: fixed;
	z-index: 4;
	background-color: #aaa;
	padding: 3px;
	overflow: auto;
}

p#buttonHeading {
	text-align: center;
	font-size: 16px;
}

/*
*	--- Switch --- 
*/

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
} 

/*
*	--- Guzice do powiększania --- 
*/

.mapButton {
	display: inline-block;
	color: white;
	padding: 6px 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px ridge red;
}

.mapButton#zoom-in {
	background-color: orange;
}

.mapButton#zoom-out {
	background-color: violet;
}

/*
*	--- Pole z wybranymi pracownikami --- 
*/

#chosen {
	display: none;
	margin: 10px 0 0 0;
	text-align: left;
}

#chosen h3 {
	margin: 5xp 5px;
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px black dotted;
	text-align: left;
}

#chosen .employee {
	margin: 2px 20px;
	list-style-type: decimal;
	font-size: 20px;
}

#chosen ul{
	padding: 0px 0px 0px 15px;
}

#chosen ul.supRegion {
	list-style-type: square;
	font-size: 18px;
}

#chosen ul.subRegion {
	list-style-type: disc;
	font-size: 17px;
}

/*
* === ŚRODKOWA KOLUMNA ===
*/

section#center {
	z-index: 2;
	padding: 10px;
	float: left;
}

section#center .tooltip{
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 5px;
	z-index: 3;
	position: absolute;
	display: none;
	background-color: white;
	border: 1px ridge red;
	opacity: 0.5;
}

/*
* === PRAWA KOLUMNA ===
*/

section#right {
	min-width: 150px;
	width: auto;
	position: fixed;
	z-index: 4;
	font-size: 17px;
}

.options {
	border: 2px #e1cfc7 solid;
	padding: 4px 6px;
	background-color: #fceee7;
}

.options:hover{
	background-color: #c8b8b1;
}

#displayButton {
	float: left;
}

#editionButton {
	float: right;
}

#mainSection {
	clear: both;
	width: 330px;
}

#mainSection #searchBox {
	float: left;
	width: 60%;
	border-top: 1px #645c58 solid;
	border-bottom: 1px #645c58 solid;
	border-left: 1px #645c58 solid;
	padding: 2px;
}

#mainSection #chooseDep {
	float: left;
	width: 40%;
	border: 1px #645c58 solid;
	padding: 2px;
}

#mainSection #chooseEmployees {
	clear: both;
	min-height: 140px;
	max-height: 600px;
	height: auto;
	resize: vertical;
	overflow: auto;
	background-color: #fefaf8;
	border-bottom: 1px #645c58 solid;
	border-left: 1px #645c58 solid;
	border-right: 1px #645c58 solid;
}

#mainSection .employee {
	clear: both;
	height: 20px;
}

#mainSection .employee *{
	display: inline-block;
}

#mainSection .employee  input{
	float: left;
}

#mainSection .employee  p{
	
}

#mainSection .employee  .empName{
	width: 60%;
	float: left;
}

#mainSection .employee  .empDep{
	width: 30%;
	float; right;
}

#mainSection .employee  select{
	width: 30%;
	float; right;
}


#mainSection .toolBox {
	padding: 3px 5px;
	border: 1px black solid;
	background-color: #afa19b;
	color: #fcf0eb;
}

#mainSection .toolBox:hover {
	background-color: #c8b8b1;
}

/*
*	--- Tryb wyświetlania ---
*/

#mainSection #displayWholeToolBox {
	display: none;
}

#mainSection #displayWholeToolBox #selectAll {
	float: right;
}

#mainSection #displayWholeToolBox #deselectAll {
	float: right;
}

/*
*	--- Tryb edycji ---
*/

#mainSection #editionWholeToolBox {
	display: none;
}

#mainSection #editionWholeToolBox *{
	float: right;
}

#mainSection #editionWholeToolBox #addUser {
}

#mainSection #editionWholeToolBox #delUser {
}

#mainSection #editionWholeToolBox #saveChanges {
}

/*
* === STOPKA === 
*/

footer {
	clear: both;
	background-color: #ccc;
}